.modal__delete {
  display: box;
}
.modal__delete_prompt {
  border: none;
  background: none;
  padding: 20px 0 0;
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
  content: center;
}
.modal__delete_confirm_delete-btn {
  border: none;
  background: none;
  padding: 20px 0 0;
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
}
.modal__delete_Cancel-btn {
  border: none;
  background: none;
  padding: 20px 0 0;
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
  color: #ff4d00;
}
