.modal__delete {
  direction: row;
  padding-top: 60px;
}
.modal__delete_prompt {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
  content: center;
}
.modal__delete_section-btns {
  display: flex;
  flex-direction: column;
}
.modal__delete_confirm_delete-btn {
  border: none;
  background: none;
  padding: 40px 0 0;
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
  color: #ff4d00;
  cursor: pointer;
}
.modal__delete_Cancel-btn {
  border: none;
  background: none;
  padding: 24px 0 60px;
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
  cursor: pointer;
}
