.cards__img {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.card__title {
  position: absolute;
  display: flex;
  flex-direction: row;
}
.cards__name {
  margin: 15px 0 0;
  padding: 2px 12px;
  border-radius: 4px;
  background-color: #fff;
  max-width: 200px;
  overflow: hidden;
}
.card-container {
  display: flex;
  justify-content: center;
  width: 325px;
  height: 325px;
  margin: 0;
  padding: 0;
}
.cards__like-icon {
  background-size: cover;
  margin-left: 10px;
  height: 18px;
  width: 20px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-top: 20px;
}
.cards__like-button {
  border: none;
  background: none;
  padding: 0;
}
